# Development files
.eslintrc.js
/.editorconfig
/.eslintignore
/.gitattributes
/.github
/.travis.yml
/test

# Coverage created files
/.nyc_output
/coverage

# Resource files
/learningml
/models

# build generate files

